<!DOCTYPE	html>
<html>
<head>
		<script	type="text/javascript"
		        src="https://peter-chat-bucket.s3.amazonaws.com/js/Frameworks.4c44088bc37f173142402f7db55f02598a83bd16.min.js">
		</script>
</head>
<body>
<script	type="text/javascript"	src="/js/socket.io.js"></script>
	<div	class="container">
			<div	class="row">
							<div	class="col-sm-4"><h1	class="pull-left">PacktChat</h1></div>
							<div	class="col-sm-4	col-sm-offset-4	top-margin">
									<div	class="pull-right">
							<%	if	(isAuthenticated)	{	%>
									<%-	partial('partials/user-loggedin')	%>
							<%	}	else	{	%>
								<%-	partial('partials/user-loggedout')	%>
						<%	}	%>
								</div>
				</div>
		</div>
		<div	class="row">
		<%-	body	%>
		</div>
	</div>
	<div	class="container">
	<small>Commit:	4c44088bc37f173142402f7db55f02598a83bd16</small>
	</div>
</body>
</html>
