<div	class="row">
  <div	class="col-sm-8	col-sm-offset-2">
    <div	class="row">
      <div	class="col-sm-12">
        <form	method="post">
        <form	method="post">
          <%	if	(message.length	>	0)	{	%>
    				<div	class="alert	alert-danger"><%=	message	%></div>
		      <%	}	%>
          <input	type="hidden"	name="_csrf"	value="<%=	token	%>">
          <div	class="form-group">
            <label	for="username">Username</label>
            <input	type="text"	class="form-control"	id="username" placeholder="username"	name="username">
          </div>
          <div	class="form-group">
                  <label	for="password">Password</label>
                  <input	type="password"	class="form-control" id="password"	placeholder="password"	name="password">
          </div>
          <button	class="btn	btn-primary	btn-block">Login</button>
        </div>
      </form>
    </div>
    <div	class="row	top-margin">
      <div	class="col-sm-6">
        <a	class="btn	btn-block	facebook"	href="<%= routes.facebookAuth	%>"><i	class="fa	fa-facebook"></i>	Facebook</a>
      </div>
      <div	class="col-sm-6">
        <a	class="btn	btn-block	google"	href="<%=	routes.googleAuth	%>"><i class="fa	fa-google-plus"></i>	Google</a>
      </div>
    </div>
  </div>
</div>
