<div	class="row">
				<div	class="col-sm-8	col-sm-offset-2">
								<div	class="row">
												<div	class="col-sm-12">
														<form	method="post">
																<%	if	(message.length	>	0)	{	%>
																		<div	class="alert	alert-danger"><%=	message	%></div>
																<%	}	%>
																<input	type="hidden"	name="_csrf"	value="<%=	token	%>">
																<div	class="form-group">
																				<label	for="username">Username</label>
																				<input	type="text"	class="form-control" id="username" placeholder="username"	name="username">
																</div>
																<div	class="form-group">
																				<label	for="password">Password</label>
																				<input	type="password"	class="form-control" id="password"	placeholder="password"	name="password">
																</div>
																<button	class="btn	btn-primary	btn-block">Register</button>
												</div>
										</form>
								</div>
				</div>
</div>
